* {
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar{
width: 0;
}

hr{
    opacity: 0.5;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

body{
    background-color: hsl(0, 0%, 90%);
    margin: 0;
    padding: auto;
    height: 100%;
    width: 100%;
    position: relative;
}


/* .container-right-parent{
    height: calc(100% - 48px);
    width: 100%;
    position: fixed;
    overflow-y: scroll;
} */

.container-right{
    /* padding-top: calc(((100vh - 48px) / 4.85667752) * 1.09478827) !important; */
    padding-top: 15px !important;
    width: calc(100vw);
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    /* display: table; */
    padding: 0px 0px;
    margin-bottom: 50px !important;
    transition-duration: 400ms;
    }

.container-right >  .child{
    padding-bottom: 52px;
}

@media (min-width: 768px){
    /* .container-right{
        padding-top: calc(((100vh - 48px) / 4.85667752) * 1.09478827) !important;
    } */

        .container-right{
        padding-top: 80px !important;
    }

    .newsbox-content, .btn-vio1, .btn-vio2, .title{
        padding-right: 60px !important;
    }

    .newsbox{
        max-width: 560px !important;
    }

}

@media (min-width: 600px){
.julrow{
    padding-left: calc(80px + ((100vh - 48px) / 4.85667752)) !important;
}
}

.divlist{
    margin-top: 0px;
    width: 100%;
    text-align: right;
}

.btn-vio1{
    color: rgb(82, 85, 169);
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px 0 0 10px;
    /* box-shadow: 7px -4px 60px rgba(0, 0, 0, 1); */
    transition-duration: 400ms;
    float: right;
    max-width: 500px;
}
/* 
.btn-vio1:hover{
    text-decoration: none;
    color: rgb(82, 85, 169);
} */
/* 
.btn-vio2:hover{
    text-decoration: none;
    color: #fff;
}

.btn-vio1:active{
    color: #fff;
    text-decoration: none;
    background-color: rgb(82, 85, 169);
} */

.btn-vio2{
    color: #fff;
    font-weight: 750;
    font-size: 20px;
    line-height: 20px;
    background-color: rgb(82, 85, 169);
    padding: 15px 20px;
    border-radius: 10px 0 0 10px;
    /* box-shadow: 7px -4px 60px rgba(0, 0, 0, 1); */
    transition-duration: 400ms;
    float: right;
    max-width: 500px;
}
/* 
.btn-vio2:active{
    color: rgb(82, 85, 169);
    text-decoration: none;
    background-color: #fff
} */

footer{
    background-color: #00c8c8;
    font-weight: bold;
    line-height: 50px;
    color: white;
    text-align: center;
    max-height: 50px;
    height: 50px;
    bottom:0;
    width:100%;
    position:fixed;
}

.newsbox-header{
    background-color: rgb(29, 29, 29);
    border-radius: 15px 0 0 0;
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    position: relative;
}

.roundbtn{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-right: 2px;
    padding: 0 !important;
}

.roundbtn:nth-of-type(1){ background-color: rgb(255,97,88);}
.roundbtn:nth-of-type(2){ background-color: rgb(254,192,46);}
.roundbtn:nth-of-type(3){ background-color: rgb(42,206,66);}

.newsboxtitle{
    font-size: 12px;
    line-height: 30px;
    padding: 0 30px !important;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
}

.newsbox{
    float: right;
    background-color: rgb(48, 48, 48);
    color: #fff;
    border-radius: 15px 0 0 15px;
    /* box-shadow: 7px -4px 60px rgba(0, 0, 0, 1); */
    text-align: left;
    width: 100%;
    transition-duration: 400ms;
    max-width: 500px;
}

.half{
    max-width: 300px !important;
}



.newsbox-content{
    padding: 15px;
}

.newsbox > .newsbox-content > h6{
    color: #00c8c8;
}

.newsbox > .newsbox-content > pre{
    background-color: #00c8c8;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0 !important;
    font-size: 10px;
    font-weight: 700;
}

.newsbox > .newsbox-content > 
.newsp{
    font-size: 11px;
    line-height: 12px;
}

.side-logo{
    width: auto;
    height: calc(100% - 48px);
    position: fixed;
    z-index: 99;
    transition-duration: 400ms;
}

.logo{
    content: url(../logo.svg);
    width: auto;
    height: calc(100% - 48px);
    border: 0;
    position: fixed;
    z-index: 99;
    transition-duration: 400ms;
    left:0;
}
.time{
    position: static;
    width: 50%;
    /* box-shadow: 7px -4px 60px rgba(0, 0, 0, 1); */
    float: right;
    text-align: right;
    background: rgb(121,60,154);
    background: -moz-linear-gradient(top, rgb(121,60,154) 1%, rgb(109,69,159) 100%);
    background: -webkit-linear-gradient(top, rgb(121,60,154) 1%,rgb(109,69,159) 100%);
    background: linear-gradient(to bottom, rgb(121,60,154) 1%,rgb(109,69,159) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#793c9a', endColorstr='#6d459f',GradientType=0 );
    
    padding: 0 20px;
    margin-top: 10vh ;
    border-radius: 15px 0 0 15px;
}

.julrow-parent{
    position:relative;
}

.julrow{
    width: 100% !important;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: calc(10px + ((100vh - 48px) / 4.85667752));
}


.title{
    /* box-shadow: 7px -4px 60px rgba(0, 0, 0, 1); */
    text-align: right;
    background-color: white;
    width: auto;
    padding: 20px;
    padding-left: 60px !important;
    border-radius: 15px 0 0 15px;
float: right;
transition-duration: 400ms;
}



.text{
    position: static;
    width: 50%;
    /* box-shadow: 7px -4px 60px rgba(0, 0, 0, 1); */
    float: right;
    text-align: justify;
    background-color: white;
    padding: 2%;
    border-radius: 15px 0 0 15px;
    color: grey;
    margin-top: 20px;
}

.time > h3{
    color: white;
    text-align: right;
    font-weight: 800;
}

.title > h2{
    color : rgb(82, 85, 169);
    text-align: right;
    font-weight: 800;
    font-size: 1.5em;
    margin: 0;
}



#name{
    color: #00c8c8;
}

.div-title{
    line-height: 1.5em;
    font-size: 2em;
    font-weight: bolder;
  }


.modal-window {
    position: fixed;
    background: rgb(121,60,154);
    background: -moz-linear-gradient(180deg, rgba(121,60,154,0.8) 1%, rgba(0,200,201,0.9) 100%);
    background: -webkit-linear-gradient(180deg, rgba(121,60,154,0.8) 1%,rgba(0,200,201,0.9) 100%);
    background: linear-gradient(180deg, rgba(121,60,154,0.8) 1%,rgba(0,200,201,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#793c9a', endColorstr='#00c8c9',GradientType=1 );
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  
  .modal-window>div {
      overflow: auto;
    max-width: 70%;
    margin: 40px auto;
    position: relative;
    height: calc(95% - 40px);
    padding: 5%;
    background: #fff;
    color: #444;
    border-radius: 15px 15px 0 0 ;
    box-shadow: 0 0 50px rgba(0,0,0, 0.4);

  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: rgb(121,60,154);
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #00c8c8;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }


  .container-skills {
    width: 100%;
    background-color: hsl(0, 0%, 93%);
    border-radius: 0 0 5px 5px;
  }
  
  .skills {
    text-align: right;
    padding-right: 10px !important;
    border-radius: 0 0 5px 5px;
    line-height: 37px;
    color: white;
    font-weight: bold;

  }

  .modal-body > p {
      font-size: 1em;
      padding: 5px 5px 5px 10px;
      margin-top: 20px;
       margin-bottom: 0px;
      color: white;
      width: 100%;
    background-color: rgb(121,60,154);
    border-radius: 5px 5px 0 0 ;

  }


  .modal-body > p > span{
    font-weight: bold;
}

.html {width: 90%; background-color: #00c8c8;}
.css {width: 80%; background-color: #00c8c8;}
.js {width: 70%; background-color: #00c8c8;}
.ionic {width: 75%; background-color: #00c8c8;}
.java {width: 65%; background-color: #00c8c8;}
.ai {width: 85%; background-color: #00c8c8;}